<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head"></head>
<body>
<div th:fragment="javascripts" class="footer">
    <div class="javascripts-container">
        <script type="text/javascript" src="./vendors/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./vendors/materialize/dist/js/materialize.min.js"></script>
    </div>
</div>
</body>
</html>