<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="/vendors/materialize/dist/css/materialize.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/master.css"/>
        <link rel="icon" type="image/png" href="/img/logo2.png" />
        <title>{% block title %}{% endblock %} - Area</title>
    {% endblock %}
</head>
<body>
    <div id="nav">
        {% block navbar %}
            <nav class="purple darken-4">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo"><img class="area-logo" src="/img/logo.png"/></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Index</a></li>
                        {% if username  %}<li><a href="/module/list">Modules</a></li>{% endif %}
                        {% if username  %}<li><a href="/notifications">Notifications</a></li>{% endif %}
                        {% if username  %}<li><a href="/area/list">Areas</a></li>{% endif %}
                         {% if not username %}<li><a href="/login">Login</a></li>{% endif %}
                        {% if not username %}<li><a href="/register">Register</a></li>{% endif %}
                        {% if username %}<li><a href="/logout">Logout</a></li>{% endif %}
                        <li><a href="/backoffice/login">Backoffice</a></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div id="content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="javascripts">
        {% block javascripts %}
            <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
            <script src="/vendors/materialize/dist/js/materialize.min.js"></script>
            <script src="/vendors/ajax/dist/ajax.min.js"></script>
        {% endblock %}
    </div>
</body>
</html>