<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head"></head>
<body>
<div th:fragment="navbar" class="navbar">
    <div class="navbar-container">
        <nav class="purple darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Area</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>