{% extends "../layout/layout.html.twig" %}
{% block title %}Logout{% endblock %}

{% block content %}
    <ul class="collection with-header">
        <li class="collection-header"><h4>Current User List !</h4></li>
        {% for user in users %}
            <li class="collection-item"><div>{{ user.username }}<a href="/user/{{ user.id }}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {% endfor %}
    </ul>
{% endblock %}