.container {
    width: 95% !important;
}

.area-logo {
    width: 65px;
}

.scroller-card {
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px;
}

.block {
    margin-top: 120px;
    margin-bottom: 120px;
}

#footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.circle {
    border-radius: 50% !important;
}
