{% extends "../layout/layout.html.twig" %}
{% block title %}Manage{% endblock %}

{% block content %}
    <meta http-equiv="refresh" content="3; url=/" />
    <ul class="collection">
        <li class="collection-item">{{ message }}</li>
    </ul>
    <meta http-equiv="refresh" content="3; url={{ redirectUrl }}" />
{% endblock %}