{% extends "../layout/layout.html.twig" %}
{% block title %}Logout{% endblock %}

{% block content %}
    <h3>You have been disconnected !</h3>
    <meta http-equiv="refresh" content="3; url=/" />
    <ul class="collection">
        <li class="collection-item">{{ message }}</li>
    </ul>
    <meta http-equiv="refresh" content="3; url={{ redirectUrl }}" />
{% endblock %}