{% extends "../layout/layout.html.twig" %}
{% block title %}OAuth{% endblock %}

{%  block content %}
    <h4>Registering new app</h4>
    <p>We are registering you to your app.</p>
    <p class="message"></p>
{%  endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/materialize/dist/js/materialize.min.js"></script>
    <script src="/vendors/ajax/dist/ajax.min.js"></script>
    <script>
        (function($) {
            var $document = $(document);

            $document.ready(function() {
                var hash = window.location.search;
                var state = null;
                var code = null;
                hash = hash.substr(1).split("&");
                for(var i = 0 ; i < hash.length ; ++i) {
                    var keyVal = hash[i].split("=");
                    if (keyVal[0] === "state") state = decodeURIComponent(keyVal[1]);
                    if (keyVal[0] === "code") code = keyVal[1];
                    if (code !== null && state !== null) break;
                }

                $.ajax({
                    url         : '/module/oauth',
                    method      : 'POST',
                    data        : {code : code, state : state},
                    complete    : function(response) {
                        $('.message').text(response.responseJSON.message + '... Redirecting .. in 3 seconds ..');
                        setTimeout(function() {
                            window.location.replace("/module/list");
                        }, 3000);
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}